page-welcome {

    #welcomepage{
        background-color: lightgray;
        h1{
            margin-top: 50px;
            text-align: center;
        }
        .logo{
            height: 100px;
            margin-left: 80px;
        }
    }
}
